{
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
		"chrome": true
    },
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 8
	},
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single", { "allowTemplateLiterals": true }
        ],
        "semi": [
            "error",
            "always"
		]
    }
}