.issue-card {
  width: 300px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  float:left;
  padding:8px;
  position: relative;

  .issue-status {
    border-radius: 3px;
    width: 80px;
    color: white;
    float:right;
    text-align: center;

    &.issue-open { background: green; }
    &.issue-in-progress { background: orange;}
  }
}
